* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  padding: 1% 1%;
}
#Header, #Container, #Footer {
  margin: 5px;
  border-radius: 20px;
  background-color: rgba(80, 80, 80, 1);
}

#Header {
  padding: 1%;
}
#Header div {
  display: inline-block;
  margin: 2px;
}
.links {
  float: right;
}

#Container {
  height: 500px;
  box-sizing: border-box;
}
.tools, #canvas, .colors {
  display: inline-block;
}
.tools {
  background-color: gray;
  width: 40px;
  height: 435px;
  position: relative;
  left: 10px;
  top: 12px;
  border-radius: 0px 0px 0px 20px;
}
#canvas {
  background-color: white;
  width: 1200px;
  height: 434px;
  border-radius: 0px 0px 20px 0px;
  position: relative;
  left: 10px;
  bottom: -11px;
}
.colors {
  background-color: gray;
  width: 98.4%;
  height: 40px;
  position: relative;
  left: 10px;
  top: 10px;
  border-radius: 20px 20px 0px 0px;
}

#Footer {
  height: 40px;
}